.hero-4 {
  min-height: 366px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 17px;
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
}
// title
.hero-title {
  font-size: 2.9rem;
  line-height: 1.3;
  font-weight: $font-weight-semibold;

  @media (max-width: 768px) {
    font-size: 2.6rem;
    line-height: 1.2;
  }
  @media (max-width: 576px) {
    font-size: 1.5rem !important;
  }
}
