//
//
//

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(/src/assets/fonts/Montserrat-Arabic-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ElMessiri";
  src: local("ElMessiri"),
    url(/src/assets/fonts/ElMessiri-VariableFont_wght.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700&display=swap");
